---
layout: default
---

<article class="container">
  <h1>{{ page.title }}</h1>
  <p><strong>Artist:</strong> {{ page.artist }}</p>
  <p><strong>Mood:</strong> {{ page.mood | join: ", " }}</p>
  <p>{{ page.description }}</p>

  <div class="post-content">
    {{ content }}
  </div>

  {% if page.youtube %}
  <div class="youtube-embed" style="margin-top: 2rem;">
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
  </div>
  {% endif %}
</article>
